/GetLifecyclePolicy.class
/PutLifecyclePolicy.class
/GetBucketPolicy.class
/LifecyclePolicy.class
/_09_CreateObjectwithObjectTag.class
/BucketPolicyGet.class
/LifecyclePolicyPut.class
/LifecyclePolicyGet.class
/LifecyclePolicyDelete.class
